@import "tailwindcss";

:root {
  --background: linear-gradient(#fff7ed, #fffbeb);
  --foreground: #fff;
}

@theme inline {
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
